.container {
    background: rgb(241, 240, 240);
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    min-width: 35vw;
    max-height: 90vh;
    min-height: 20vh;
    border-radius: 16px;
    padding: 2rem;
    z-index: 2;
}

@media all and (max-width: 600px) {
    .container {
        max-width: 80vw;
        min-width: 65vw;
        max-height: 90vh;
        min-height: 70vh;
    }
}

.backdrop {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: large;
}