@keyframes fadeInFromBottom {
    0% {
        transform: translate(-50%, 20%);
        opacity: 0;
    }


    70% {
        transform: translate(-50%, -60%);
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 100%;
    }
}

.container {
    background: rgb(241, 240, 240);
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    max-width: 80vw;
    min-width: 35vw;
    max-height: 90vh;
    min-height: 20vh;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    padding: 2rem;
    z-index: 2;
    animation: fadeInFromBottom;
    animation-duration: .4s;
    animation-timing-function: ease-in;
}

@media all and (max-width: 600px) {
    .container {
        max-width: 98%;
        min-width: 90%;
        max-height: 98%;
        min-height: 30%;
    }
}

.backdrop {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: large;
}