.link {
    text-transform: capitalize;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 6px;
    border: 1px solid transparent;
    color: #141414;
    transition: background .2s;
    width: 100%;
}

@media all and (max-width: 900px) {
    .link {
        width: 300px;
        font-size: 3rem;
        margin-bottom: 3rem;
    }
}

@media all and (max-width: 600px) {
    .link {
        width: 200px;
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }
}

@media all and (max-width: 600px) {
    
}


.link:hover {
    border-color: #b6b6b6;
    transition: .1s;
}

.active {
    background: #242424;
    color: #fff;
}

.active:visited {
    color: #fff;
}

/* .link svg {
    margin-right: 2rem;
} */

.marginRight {
    margin-right: 2rem;
}
