.sidebar {
   /* background-color: blueviolet; */
    width: max-content;
    height: 100%;
    overflow-y: auto;
    padding: 3rem 3rem;
    position: relative;
}

@media all and (max-width: 900px) {
    .sidebar {
        padding: 0;
        width: fit-content;
        padding: 0;
        position: absolute;
        background-color: #fff;
        z-index: 500;
    }

    .sidebar div {
        
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sidebar ul {
        width: fit-content;
        margin-bottom: 0 !important;
    }
}


.sidebar::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.103);
    display: block;
    width: .2rem;
    height: 40rem;
    position: absolute;
    top: 20%;
    left: 99%;
}

@media all and (max-width: 900px) {
    .sidebar::after {
        display: none;
    }
}


.sidebar ul:not(:last-of-type) {
    margin-bottom: 5rem;
}

.sidebar ul:first-of-type {
    margin-top: 3rem;
}

@media all and (max-width: 900px) {
    .sidebar ul:first-of-type {
        margin-top: 0;
    }
}



.sidebar ul li {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
}

.hamburger {
    background: none;
    border: none;
    font-size: 4rem;
    color: black;
    cursor: pointer;    
    padding: 1rem 2rem;
    transition: all .2s;
    border-radius: 3px;
    border: 1px solid transparent;
    display: none;
    position: fixed;
    top: 0;
    right: 1%;
}


@media all and (max-width: 900px) {
    .hamburger {
        display: block;
    }
}


.hidden {
    display: block;
}

@media all and (max-width: 900px) {
    .hidden {
        display: none !important;
    }
}